.top{
    display: flex;
    justify-content: space-between;
    font-size: larger;
    align-items: center;
}
    
.top img{
    border-radius: 50px;
    height: 150px;
    width: 150px;
}
.blue{
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    background-color: blue;
    color: aliceblue;
    border-radius: 4px;
}
.aqua{
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    background-color: orchid;
    color: aliceblue;
    border-radius: 4px;
}
.contacts{
    display: flex;
    gap: 60px;
    text-align: center;
}